<configuration>
    <logger name="org.springframework.web.servlet" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.zalando.logbook" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>

    <springProfile name="default">
        <include resource="logback-console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <include resource="logback-console-appender.xml"/>

        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
